@model ClientServices.Models.Operation
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Consignación</h3>
        </div>
        @using (Ajax.BeginForm("_Consignacion1", new AjaxOptions { OnSuccess = "SaveSucces", OnFailure = "SaveError" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.AntiForgeryToken()
                    <div id="ValidationSummary" class="text-danger col-lg-offset-4"></div>
                    <div class="form-group">
                        @Html.Label("Valor a consignar", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.value, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
            </div>
        }
    </div>
</div>
<script>

    var SaveSucces = function (data) {
        console.log(data);
        if (data.success) {
            location.reload();
        }
        else {
            $("#ValidationSummary").html(data.message);
        }
    };

    function SaveError() {
        alert("No se pudo completar la operación.");
    }
</script>